html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font: 16px/1.313em 'Open Sans', Arial, Helvetica, sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container::after,
.clearfix::after {
  content: '';
  display: table;
  clear: both; }

img {
  max-width: 100%;
  height: auto; }

input {
  outline: none; }

label {
  font: 16px/1.313em 'Open Sans', Arial, Helvetica, sans-serif;
  color: #888888; }

.wrapper {
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 6.666666%; }

h1 {
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.313em;
  font-variant: small-caps; }

h2 {
  margin: 0 0 25px;
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.313em;
  font-variant: small-caps;
  text-transform: capitalize; }

h3 {
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.313em;
  font-variant: small-caps; }

h4 {
  margin: 0 0 10px;
  color: #222222;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.313em;
  text-transform: uppercase; }

h5 {
  margin: 0 0 5px;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.313em;
  font-variant: small-caps; }

p {
  margin: 0 0 15px;
  color: #888888;
  font-weight: 300; }

a {
  margin-bottom: 15px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.313em;
  text-transform: uppercase;
  font-variant: small-caps;
  text-decoration: none; }

.capital {
  text-transform: uppercase; }

.header-logo {
  margin-right: 15px; }
  .header-logo a {
    display: inline-block; }

.text-bold {
  font-weight: 600; }

.background-slider {
  padding: 30px 0;
  background: url("../images/secondary-slider-image.jpg") no-repeat;
  background-size: cover; }

.pagination-block .pagination a {
  margin-bottom: 0;
  vertical-align: middle; }
  .pagination-block .pagination a .pagination-prev,
  .pagination-block .pagination a .pagination-next {
    width: 6px;
    height: 24px; }

.pagination-block .pagination .page-numbers {
  vertical-align: middle; }

.breadcrumbs {
  margin: 0 -5px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .breadcrumbs li {
    padding: 0 5px; }
    .breadcrumbs li:before {
      content: '/'; }
    .breadcrumbs li:first-child:before {
      content: ''; }
    .breadcrumbs li a {
      font-size: 16px;
      font-weight: 400;
      text-transform: none;
      font-variant: normal; }
      .breadcrumbs li a:hover {
        opacity: .5; }
    .breadcrumbs li.active a {
      font-weight: 700; }

.sorting {
  position: relative; }
  .sorting .sort-collapse {
    margin-right: 15px;
    margin-bottom: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-variant: normal;
    position: relative; }
    .sorting .sort-collapse:before {
      content: '';
      position: absolute;
      top: 30%;
      right: -12px;
      width: 12px;
      height: 6px;
      background: url("../images/svg/arrow-down.svg") no-repeat; }
  .sorting .sorting-list {
    margin: 0;
    padding: 10px;
    list-style: none;
    max-width: 100%;
    display: none;
    background-color: #ffffff;
    text-align: center; }
    .sorting .sorting-list.is-show {
      position: absolute;
      display: block;
      top: 25px;
      left: 0;
      right: 0;
      z-index: 1; }
    .sorting .sorting-list li {
      margin: 5px 0;
      display: inline-block; }
      .sorting .sorting-list li a {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        font-variant: normal;
        text-decoration: underline; }
        .sorting .sorting-list li a:hover {
          text-decoration: none; }

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.header-box {
  position: relative;
  padding: 28px 0 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section-week {
  padding-top: 20px; }

.section-visual {
  padding: 48px 0 43px; }

.footer-items {
  margin: 0 -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer-items .item-navbar {
    padding: 0 20px 20px; }
    .footer-items .item-navbar .item-title {
      margin-bottom: 20px; }
    .footer-items .item-navbar .item-body ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer-items .item-navbar .item-body ul li a {
        font-weight: 400;
        color: #888888;
        text-transform: capitalize; }
        .footer-items .item-navbar .item-body ul li a:hover {
          opacity: .75; }
    .footer-items .item-navbar .item-body .social-items {
      margin: 0 -16px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footer-items .item-navbar .item-body .social-items li {
        padding: 0 16px; }
        .footer-items .item-navbar .item-body .social-items li a .social-item {
          height: 18px;
          fill: #888888; }

.section .section-description p {
  font-size: 20px;
  line-height: 1.5em;
  color: #000000; }

.section-box {
  padding: 23px 0 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section-box .sidebar {
    margin-right: 4.8780487804878%;
    width: 17.3076923076923%; }
    .section-box .sidebar .sidebar-body .section-header .hide-panel {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-left {
        margin-bottom: 10px; }
        .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-left .hide-filter .hide-block {
          font-size: 16px;
          font-weight: 400;
          text-transform: none;
          font-variant: normal;
          cursor: pointer; }
          .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-left .hide-filter .hide-block .hide-arrow {
            margin-top: 4px;
            margin-right: 3px;
            width: 6px;
            height: 12px;
            fill: #000000; }
          .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-left .hide-filter .hide-block:hover {
            opacity: .75; }
          .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-left .hide-filter .hide-block.is-active + .show-block {
            display: block; }
        .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-left .hide-filter .show-block {
          display: none;
          font-size: 16px;
          font-weight: 400;
          text-transform: none;
          font-variant: normal;
          cursor: pointer; }
          .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-left .hide-filter .show-block .show-arrow {
            margin-top: 4px;
            margin-right: 3px;
            width: 6px;
            height: 12px;
            fill: #000000; }
          .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-left .hide-filter .show-block:hover {
            opacity: .75; }
      .section-box .sidebar .sidebar-body .section-header .hide-panel .panel-right .quantity-products p {
        color: #000000;
        font-weight: 700; }
  .section-box .section-container {
    width: 77.8142589118199%; }
    .section-box .section-container .section-top {
      margin-bottom: 5px; }
      .section-box .section-container .section-top .header-block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .section-box .section-container .section-top .header-block .pagination-block,
        .section-box .section-container .section-top .header-block .breadcrumbs-block {
          margin: 0 15px 10px; }
    .section-box .section-container .section-body {
      padding-top: 10px; }

.navbar-toggler {
  display: none; }

.navbar-nav {
  margin: 0 -32px;
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .navbar-nav li {
    padding: 0 32px; }
    .navbar-nav li a {
      color: #888888;
      font-size: 18px;
      font-weight: 400;
      text-transform: none; }
      .navbar-nav li a:hover {
        color: #000000; }
  .navbar-nav .active a {
    color: #000000; }
  .navbar-nav .buyer-panel {
    margin: 0 -32px;
    padding: 0;
    list-style: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .navbar-nav .buyer-panel .icon-panel {
      height: 19px; }
      .navbar-nav .buyer-panel .icon-panel:hover {
        fill: #888888; }
    .navbar-nav .buyer-panel .user-panel {
      width: 19px; }
    .navbar-nav .buyer-panel .search-panel {
      position: relative;
      width: 18px; }
      .navbar-nav .buyer-panel .search-panel .form-search {
        position: absolute;
        display: none;
        top: 22px;
        right: -5px;
        width: 200px; }
    .navbar-nav .buyer-panel .cart-tool:after {
      content: '3';
      margin-left: 12px;
      position: relative;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      top: -5px;
      font-size: 12px;
      font-weight: 400;
      font-variant: small-caps;
      border-radius: 13px;
      background-color: #cb0000;
      color: #ffffff; }
    .navbar-nav .buyer-panel .cart-tool .cart-panel {
      width: 20px; }

.form-body {
  max-width: 100%; }
  .form-body .search-group {
    max-width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    color: #888888;
    font-size: 16px; }

.newsletter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .newsletter .newsletter-body .newsletter-form .form fieldset {
    padding: 0;
    border: none; }
    .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-group {
        padding: 0 15px 5px 0;
        width: 255px;
        border: none;
        border-bottom: 1px solid #000000;
        color: #888888;
        font-family: "Open Sans Light";
        font-size: 21px;
        font-weight: 300;
        font-style: italic; }
      .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-submit {
        padding: 0;
        color: #000000;
        font-size: 21px;
        font-weight: 700;
        background-color: #ffffff;
        cursor: pointer;
        border: none;
        border-bottom: 1px solid #000000; }
        .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-submit:hover {
          opacity: .75; }

.card {
  margin: 0 -12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .card .card-information {
    padding: 0 12px 50px;
    width: 33.33%; }
    .card .card-information .card-header {
      margin-bottom: 15px; }
      .card .card-information .card-header .card-image {
        max-width: 100%;
        font-size: 0;
        line-height: 0; }
        .card .card-information .card-header .card-image img {
          width: 100%; }
    .card .card-information .card-body .card-title {
      display: inline-block; }
      .card .card-information .card-body .card-title h2 {
        font-size: 30px;
        font-weight: 300; }
    .card .card-information .card-body .card-description {
      display: inline-block; }
      .card .card-information .card-body .card-description p {
        margin-bottom: 25px; }

.card-items {
  margin: 0 -12px; }
  .card-items .card-product {
    padding: 12px;
    width: 33.33%; }
    .card-items .card-product .card-header {
      margin-bottom: 10px;
      position: relative; }
      .card-items .card-product .card-header .card-image {
        max-width: 100%; }
        .card-items .card-product .card-header .card-image a {
          margin-bottom: 0;
          font-size: 0;
          line-height: 0;
          display: inline-block; }
          .card-items .card-product .card-header .card-image a img {
            width: 100%; }
      .card-items .card-product .card-header .card-hover {
        display: none; }
        .card-items .card-product .card-header .card-hover .card-top {
          position: absolute;
          top: 12px;
          right: 12px;
          width: 29px;
          height: 29px;
          z-index: 1; }
          .card-items .card-product .card-header .card-hover .card-top a {
            display: inline-block;
            width: 29px;
            height: 29px;
            text-align: center;
            font-size: 26px;
            line-height: 1em;
            font-weight: 400;
            border: 1px solid #888888;
            border-radius: 14px;
            color: #888888;
            cursor: default; }
        .card-items .card-product .card-header .card-hover .card-bottom {
          padding: 16px 0;
          position: absolute;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          right: 0;
          left: 0;
          bottom: 0;
          background-color: #ffffff;
          opacity: 0.8;
          z-index: 1; }
          .card-items .card-product .card-header .card-hover .card-bottom a {
            margin-bottom: 0;
            color: #000000;
            font-size: 18px;
            font-weight: 300;
            font-variant: small-caps;
            text-transform: none; }
      .card-items .card-product .card-header:hover .card-hover {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; }
    .card-items .card-product .card-body {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 0; }
      .card-items .card-product .card-body .items-details {
        margin-bottom: 0;
        width: 100%;
        height: 100%; }

.button a {
  padding: 15px 55px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-variant: small-caps;
  background-color: #000000;
  color: #ffffff; }
  .button a:hover {
    opacity: .5; }

.button.button-small a {
  padding: 11px 10px; }

.items-mansory {
  margin: 0 -12px; }
  .items-mansory .item-mansory {
    padding: 0 12px 24px;
    width: 33.33%; }
    .items-mansory .item-mansory .mansory-image {
      font-size: 0;
      line-height: 0; }
      .items-mansory .item-mansory .mansory-image img {
        min-height: 100%; }

.ac-container {
  margin: 8px 0; }
  .ac-container button.accordion {
    background-color: #fff;
    position: relative;
    color: #000;
    cursor: pointer;
    padding: 12px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .ac-container button.accordion:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      background: url("../images/svg/arrow-down.svg") no-repeat;
      width: 12px;
      height: 6px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .ac-container button.accordion.active:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      background: url("../images/svg/arrow-up.svg") no-repeat;
      width: 12px;
      height: 6px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .ac-container button.accordion:hover {
      opacity: .5; }
  .ac-container div.panel {
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #888888; }
    .ac-container div.panel .ac-body {
      padding: 0 0 10px; }
      .ac-container div.panel .ac-body .form-scroller {
        padding: 10px 0;
        height: 305px;
        overflow: auto;
        border-top: 1px solid #888888; }
        .ac-container div.panel .ac-body .form-scroller .form-item {
          position: relative; }
          .ac-container div.panel .ac-body .form-scroller .form-item .form-checkbox:not(cheked) {
            position: absolute;
            opacity: 0; }
            .ac-container div.panel .ac-body .form-scroller .form-item .form-checkbox:not(cheked) + .form-control {
              padding-left: 20px;
              position: relative; }
              .ac-container div.panel .ac-body .form-scroller .form-item .form-checkbox:not(cheked) + .form-control:hover {
                opacity: .75; }
              .ac-container div.panel .ac-body .form-scroller .form-item .form-checkbox:not(cheked) + .form-control:after {
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                top: 4px;
                left: 0;
                opacity: 0;
                -webkit-transition: all 0.2s ease 0s;
                -o-transition: all 0.2s ease 0s;
                transition: all 0.2s ease 0s;
                background-image: url("../images/svg/cross.svg"); }
          .ac-container div.panel .ac-body .form-scroller .form-item .form-checkbox:checked + .form-control {
            color: #000000; }
            .ac-container div.panel .ac-body .form-scroller .form-item .form-checkbox:checked + .form-control:after {
              opacity: 1; }
          .ac-container div.panel .ac-body .form-scroller .form-item .form-control {
            color: #888888;
            font-weight: 400;
            cursor: pointer; }
      .ac-container div.panel .ac-body .filter-size {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 10px 0;
        margin: 0;
        list-style: none; }
        .ac-container div.panel .ac-body .filter-size li {
          margin-bottom: 10px;
          position: relative;
          width: 24px;
          text-align: center; }
          .ac-container div.panel .ac-body .filter-size li a {
            margin-bottom: 3px;
            vertical-align: middle;
            font-size: 14px;
            font-weight: 400;
            color: #888888;
            font-variant: normal; }
            .ac-container div.panel .ac-body .filter-size li a:hover {
              color: #010101; }
          .ac-container div.panel .ac-body .filter-size li.active {
            height: 24px;
            border: 1px solid #000000;
            border-radius: 12px; }
            .ac-container div.panel .ac-body .filter-size li.active a {
              color: #000000; }
      .ac-container div.panel .ac-body .form-price .price-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .ac-container div.panel .ac-body .form-price .price-header span {
          color: #000000; }
      .ac-container div.panel .ac-body .form-price .price-body {
        margin-bottom: 15px; }
        .ac-container div.panel .ac-body .form-price .price-body .price-range {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .ac-container div.panel .ac-body .form-price .price-body .price-range .range-slider {
            width: 90%; }
            .ac-container div.panel .ac-body .form-price .price-body .price-range .range-slider .ui-widget-header {
              background-color: #888888; }
      .ac-container div.panel .ac-body .form-price .price-footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        .ac-container div.panel .ac-body .form-price .price-footer .price-group {
          padding: 0 2.5%;
          max-width: 45%; }
          .ac-container div.panel .ac-body .form-price .price-footer .price-group .price-txt {
            width: 100%;
            font-size: 16px;
            padding: 5px;
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            color: #000000;
            font-weight: 600; }

.modal_form {
  max-width: 770px;
  max-height: 505px;
  background: #fff;
  position: fixed;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.25);
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 0 42px 0 0; }
  .modal_form .modal_close {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    display: block; }
    .modal_form .modal_close:before {
      content: '';
      width: 14px;
      height: 1px;
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .modal_form .modal_close:after {
      content: '';
      width: 14px;
      height: 1px;
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
    .modal_form .modal_close:hover {
      opacity: .5; }

.overlay {
  z-index: 3;
  position: fixed;
  background-color: #ffffff;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.card-product-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .card-product-modal .card-left {
    width: 50%; }
    .card-product-modal .card-left .modal-slider .modal-slide .slide-image {
      max-width: 100%; }
      .card-product-modal .card-left .modal-slider .modal-slide .slide-image img {
        width: 100%; }
  .card-product-modal .card-right {
    width: 50%; }

@media only screen and (max-width: 1220px) {
  .newsletter .newsletter-body .newsletter-title h4 {
    font-size: 16px; }
  .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-group {
    width: 170px;
    font-size: 16px; }
  .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-submit {
    font-size: 16px; } }

@media only screen and (max-width: 1024px) {
  a {
    margin-bottom: 5px; }
  .navbar-toggler {
    display: inline-block;
    vertical-align: top;
    padding: 9px 10px;
    border: none;
    color: #000000; }
    .navbar-toggler .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: currentcolor; }
    .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px; }
  .navbar-collapse {
    display: none; }
  .is-show {
    position: absolute;
    display: block;
    top: 78px;
    left: 0;
    right: 0;
    z-index: 1; }
    .is-show .navbar-nav {
      margin: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff; }
      .is-show .navbar-nav li {
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center; }
        .is-show .navbar-nav li .buyer-panel li {
          padding: 10px 15px 5px; }
          .is-show .navbar-nav li .buyer-panel li .search-panel .form-search {
            position: static;
            margin-left: -65px; }
  .background-slider {
    padding: 15px 0; }
  .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer-items .item-navbar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-items .item-navbar .item-body ul li {
        text-align: center; }
  .section-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .section-box .sidebar {
      width: 50%;
      margin: 0 0 15px; }
  .card-items .card-product {
    width: 50%; } }

@media only screen and (max-width: 868px) {
  .items-mansory .item-mansory {
    width: 50%; }
  .newsletter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
    margin-bottom: 10px; }
  .item-slide .slider-body .slider-info .slider-more a {
    font-size: 16px; }
  .card {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .card .card-information {
      width: 50%; }
  .section-box .sidebar {
    width: 100%; }
  .section-box .section-container .section-top .header-block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .card-items .card-product {
    width: 80%; } }

@media only screen and (max-width: 585px) {
  .card {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .card .card-information {
      width: 100%; }
  .items-mansory .item-mansory {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

/*# sourceMappingURL=main.css.map */