html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font: 16px/1.313em 'Open Sans', Arial, Helvetica, sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.container::after,
.clearfix::after {
  content: '';
  display: table;
  clear: both; }

img {
  max-width: 100%;
  height: auto; }

input {
  outline: none; }

label {
  font: 16px/1.313em 'Open Sans', Arial, Helvetica, sans-serif;
  color: #888888; }

.wrapper {
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 6.666666%; }

h1 {
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.313em;
  font-variant: small-caps; }

h2 {
  margin: 0 0 25px;
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.313em;
  font-variant: small-caps;
  text-transform: capitalize; }

h3 {
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.313em;
  font-variant: small-caps; }

h4 {
  margin: 0 0 10px;
  color: #222222;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.313em;
  text-transform: uppercase; }

h5 {
  margin: 0 0 5px;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.313em;
  font-variant: small-caps; }

p {
  margin: 0 0 15px;
  color: #888888;
  font-weight: 300; }

a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.313em;
  text-transform: uppercase;
  font-variant: small-caps;
  text-decoration: none; }

.capital {
  text-transform: uppercase; }

.header-logo {
  margin-right: 15px; }
  .header-logo a {
    display: inline-block; }

.text-bold {
  font-weight: 600; }

.background-slider {
  padding: 30px 0;
  background: url("../images/secondary-slider-image.jpg") no-repeat;
  background-size: cover; }

.hide-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .hide-panel .panel-left {
    margin-bottom: 10px; }
    .hide-panel .panel-left .hide-filter .hide-block {
      font-size: 16px;
      font-weight: 400;
      text-transform: none;
      font-variant: normal;
      cursor: pointer; }
      .hide-panel .panel-left .hide-filter .hide-block .hide-arrow {
        margin-top: 4px;
        margin-right: 3px;
        width: 6px;
        height: 12px;
        fill: #000000; }
      .hide-panel .panel-left .hide-filter .hide-block:hover {
        opacity: .75; }
      .hide-panel .panel-left .hide-filter .hide-block.is-active {
        display: none; }
      .hide-panel .panel-left .hide-filter .hide-block.is-active {
        display: block; }

.quantity-products p {
  color: #000000;
  font-weight: 700; }

.header-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .header-block .pagination-block,
  .header-block .breadcrumbs-block {
    margin: 0 10px 10px; }

.pagination-block .pagination a {
  margin-bottom: 0;
  vertical-align: middle; }
  .pagination-block .pagination a .pagination-prev,
  .pagination-block .pagination a .pagination-next {
    width: 6px;
    height: 24px; }

.pagination-block .pagination .page-numbers {
  vertical-align: middle; }

.breadcrumbs {
  margin: 0 -5px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .breadcrumbs li {
    padding: 0 5px; }
    .breadcrumbs li:before {
      content: '/'; }
    .breadcrumbs li:first-child:before {
      content: ''; }
    .breadcrumbs li a {
      font-size: 16px;
      font-weight: 400;
      text-transform: none;
      font-variant: normal; }
      .breadcrumbs li a:hover {
        opacity: .5; }
    .breadcrumbs li.active a {
      font-weight: 700; }

.breadcrumbs-box li:before {
  margin-right: 5px; }

.breadcrumbs-box li:first-child:before {
  margin-right: 0; }

.sorting {
  position: relative; }
  .sorting .sort-collapse {
    margin-right: 15px;
    margin-bottom: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    font-variant: normal;
    position: relative; }
    .sorting .sort-collapse:before {
      content: '';
      position: absolute;
      top: 30%;
      right: -12px;
      width: 12px;
      height: 6px;
      background: url("../images/svg/arrow-down.svg") no-repeat; }
  .sorting .sorting-list {
    margin: 0;
    padding: 10px;
    list-style: none;
    max-width: 100%;
    display: none;
    background-color: #ffffff;
    text-align: center; }
    .sorting .sorting-list.is-show {
      position: absolute;
      display: block;
      top: 25px;
      left: 0;
      right: 0;
      z-index: 1; }
    .sorting .sorting-list li {
      margin: 5px 0;
      display: inline-block; }
      .sorting .sorting-list li a {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        font-variant: normal;
        text-decoration: underline; }
        .sorting .sorting-list li a:hover {
          text-decoration: none; }

.sidebar {
  margin-right: 4.8780487804878%;
  width: 17.3076923076923%; }
  .sidebar.is-show {
    display: none; }
  .sidebar.is-show + .section-container {
    width: 100%; }
    .sidebar.is-show + .section-container .card-product {
      width: 25%; }

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.header-box {
  position: relative;
  padding: 28px 0 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section-week {
  padding-top: 20px; }

.section-visual {
  padding: 48px 0 43px; }

.footer-items {
  margin: 0 -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer-items .item-navbar {
    padding: 0 20px 20px; }
    .footer-items .item-navbar .item-title {
      margin-bottom: 20px; }
    .footer-items .item-navbar .item-body ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .footer-items .item-navbar .item-body ul li a {
        font-weight: 400;
        color: #888888;
        text-transform: capitalize; }
        .footer-items .item-navbar .item-body ul li a:hover {
          opacity: .75; }
    .footer-items .item-navbar .item-body .social-items {
      margin: 0 -16px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footer-items .item-navbar .item-body .social-items li {
        padding: 0 16px; }
        .footer-items .item-navbar .item-body .social-items li a .social-item {
          height: 18px;
          fill: #888888; }

.section .section-description p {
  font-size: 20px;
  line-height: 1.5em;
  color: #000000; }

.section-box {
  padding: 0 0 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.section-container {
  width: 77.8142589118199%; }
  .section-container .section-body {
    padding-top: 10px; }

.section-top .breadcrumbs-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.section-product .section-body {
  margin-bottom: 33px; }

.section-product .section-bottom {
  margin-bottom: 45px; }

.section-footer {
  padding: 43px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section-footer .section-left {
    margin-right: 4.8780487804878%;
    width: 17.3076923076923%; }
  .section-footer .section-right {
    width: 77.8142589118199%; }

.navbar-toggler {
  display: none; }

.navbar-nav {
  margin: 0 -32px;
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .navbar-nav li {
    padding: 0 32px; }
    .navbar-nav li a {
      color: #888888;
      font-size: 18px;
      font-weight: 400;
      text-transform: none; }
      .navbar-nav li a:hover {
        color: #000000; }
  .navbar-nav .active a {
    color: #000000; }
  .navbar-nav .buyer-panel {
    margin: 0 -32px;
    padding: 0;
    list-style: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .navbar-nav .buyer-panel .icon-panel {
      height: 19px; }
      .navbar-nav .buyer-panel .icon-panel:hover {
        fill: #888888; }
    .navbar-nav .buyer-panel .user-panel {
      width: 19px; }
    .navbar-nav .buyer-panel .search-panel {
      position: relative;
      width: 18px; }
      .navbar-nav .buyer-panel .search-panel .form-search {
        position: absolute;
        display: none;
        top: 22px;
        right: -5px;
        width: 200px; }
    .navbar-nav .buyer-panel .cart-tool:after {
      content: '3';
      margin-left: 12px;
      position: relative;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      top: -5px;
      font-size: 12px;
      font-weight: 400;
      font-variant: small-caps;
      border-radius: 13px;
      background-color: #cb0000;
      color: #ffffff; }
    .navbar-nav .buyer-panel .cart-tool .cart-panel {
      width: 20px; }

.form-body {
  max-width: 100%; }
  .form-body .search-group {
    max-width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    color: #888888;
    font-size: 16px; }

.form-conclusion {
  margin: 0 10px;
  width: 20px;
  text-align: center;
  border: none;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans'; }

.newsletter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .newsletter .newsletter-body .newsletter-form .form fieldset {
    padding: 0;
    border: none; }
    .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-group {
        padding: 0 15px 5px 0;
        width: 255px;
        border: none;
        border-bottom: 1px solid #000000;
        color: #888888;
        font-family: "Open Sans Light";
        font-size: 21px;
        font-weight: 300;
        font-style: italic; }
      .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-submit {
        padding: 0;
        color: #000000;
        font-size: 21px;
        font-weight: 700;
        background-color: #ffffff;
        cursor: pointer;
        border: none;
        border-bottom: 1px solid #000000; }
        .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-submit:hover {
          opacity: .75; }

.form-mailing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .form-mailing .form-group {
    width: 75%; }
  .form-mailing .form-group-button {
    width: 25%;
    height: 32px; }

.form-group .form-email {
  padding: 5px;
  height: 32px;
  width: 100%;
  border: 1px solid #888888;
  border-right: none;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  text-transform: uppercase; }

.card {
  margin: 0 -12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .card .card-information {
    padding: 0 12px 50px;
    width: 33.33%; }
    .card .card-information .card-header {
      margin-bottom: 15px; }
      .card .card-information .card-header .card-image {
        max-width: 100%;
        font-size: 0;
        line-height: 0; }
        .card .card-information .card-header .card-image img {
          width: 100%; }
    .card .card-information .card-body .card-title {
      display: inline-block; }
      .card .card-information .card-body .card-title h2 {
        font-size: 30px;
        font-weight: 300; }
    .card .card-information .card-body .card-description {
      display: inline-block; }
      .card .card-information .card-body .card-description p {
        margin-bottom: 25px; }

.card-items {
  margin: 0 -12px; }
  .card-items .card-product {
    padding: 12px;
    max-width: 33.33%; }
    .card-items .card-product .card-header {
      margin-bottom: 10px;
      position: relative; }
      .card-items .card-product .card-header .card-image {
        max-width: 100%; }
        .card-items .card-product .card-header .card-image img {
          width: 100%; }
      .card-items .card-product .card-header .card-hover {
        display: none; }
        .card-items .card-product .card-header .card-hover .card-top {
          position: absolute;
          top: 12px;
          right: 12px;
          width: 29px;
          height: 29px;
          z-index: 1; }
          .card-items .card-product .card-header .card-hover .card-top a {
            display: inline-block;
            width: 29px;
            height: 29px;
            text-align: center;
            font-size: 26px;
            line-height: 1em;
            font-weight: 400;
            border: 1px solid #888888;
            border-radius: 14px;
            color: #888888;
            cursor: default; }
        .card-items .card-product .card-header .card-hover .card-bottom {
          padding: 16px 0;
          position: absolute;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          right: 0;
          left: 0;
          bottom: -1px;
          background-color: #ffffff;
          opacity: 0.8;
          z-index: 1; }
          .card-items .card-product .card-header .card-hover .card-bottom a {
            margin-bottom: 0;
            color: #000000;
            font-size: 18px;
            font-weight: 300;
            font-variant: small-caps;
            text-transform: none; }
      .card-items .card-product .card-header:hover .card-hover {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0; }
    .card-items .card-product .card-body {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 0; }
      .card-items .card-product .card-body .items-details {
        margin-bottom: 0;
        width: 100%;
        height: 100%; }

.button a {
  padding: 15px 55px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-variant: small-caps;
  background-color: #000000;
  color: #ffffff; }
  .button a:hover {
    opacity: .5; }

.button.button-small a {
  padding: 11px 10px; }

.button.button-large {
  text-align: center; }
  .button.button-large a {
    margin: 0;
    padding: 14px;
    display: inline-block;
    width: 100%; }

.button-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.button-form {
  background-color: #ffffff;
  border: 1px solid #000000;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer; }
  .button-form:hover {
    background-color: #000000;
    color: #ffffff; }

.items-mansory {
  margin: 0 -12px; }
  .items-mansory .item-mansory {
    padding: 0 12px 24px;
    width: 33.33%; }
    .items-mansory .item-mansory .mansory-image {
      font-size: 0;
      line-height: 0; }
      .items-mansory .item-mansory .mansory-image img {
        min-height: 100%; }

.ac-container {
  margin: 8px 0; }
  .ac-container button.accordion {
    background-color: #fff;
    position: relative;
    color: #000;
    cursor: pointer;
    padding: 12px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .ac-container button.accordion:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      background: url("../images/svg/arrow-down.svg") no-repeat;
      width: 12px;
      height: 6px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .ac-container button.accordion.active:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      background: url("../images/svg/arrow-up.svg") no-repeat;
      width: 12px;
      height: 6px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .ac-container button.accordion:hover {
      opacity: .5; }
  .ac-container div.panel {
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #888888; }
    .ac-container div.panel .ac-body {
      padding: 0 0 10px; }

.form-scroller {
  padding: 10px 0;
  height: 305px;
  overflow: auto;
  border-top: 1px solid #888888; }
  .form-scroller .form-item {
    position: relative; }
    .form-scroller .form-item .form-checkbox:not(cheked) {
      position: absolute;
      opacity: 0; }
      .form-scroller .form-item .form-checkbox:not(cheked) + .form-control {
        padding-left: 20px;
        position: relative; }
        .form-scroller .form-item .form-checkbox:not(cheked) + .form-control:hover {
          opacity: .75; }
        .form-scroller .form-item .form-checkbox:not(cheked) + .form-control:after {
          content: '';
          width: 12px;
          height: 12px;
          position: absolute;
          top: 4px;
          left: 0;
          opacity: 0;
          -webkit-transition: all 0.2s ease 0s;
          -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
          background-image: url("../images/svg/cross.svg"); }
    .form-scroller .form-item .form-checkbox:checked + .form-control {
      color: #000000; }
      .form-scroller .form-item .form-checkbox:checked + .form-control:after {
        opacity: 1; }
    .form-scroller .form-item .form-control {
      color: #888888;
      font-weight: 400;
      cursor: pointer; }

.form-price .price-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .form-price .price-header span {
    color: #000000; }

.form-price .price-body {
  margin-bottom: 15px; }
  .form-price .price-body .price-range {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .form-price .price-body .price-range .range-slider {
      width: 90%; }
      .form-price .price-body .price-range .range-slider .ui-widget-header {
        background-color: #888888; }

.form-price .price-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .form-price .price-footer .price-group {
    padding: 0 2.5%;
    max-width: 45%; }
    .form-price .price-footer .price-group .price-txt {
      width: 100%;
      font-size: 16px;
      padding: 5px;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      color: #000000;
      font-weight: 600; }

.filter-size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: 0;
  list-style: none; }
  .filter-size li {
    margin: 0 15px 10px 0;
    position: relative;
    width: 24px;
    text-align: center; }
    .filter-size li a {
      margin-bottom: 3px;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 400;
      color: #888888;
      font-variant: normal; }
      .filter-size li a:hover {
        color: #010101; }
    .filter-size li.active {
      height: 24px;
      border: 1px solid #000000;
      border-radius: 12px; }
      .filter-size li.active a {
        color: #000000; }

#popup_this {
  top: 50%;
  left: 50%;
  max-width: 800px;
  text-align: center;
  position: fixed;
  background: #fff;
  padding: 0 60px 0 0; }

.b-close {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: none; }
  .b-close:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
    height: 2px;
    background-color: #000000; }
  .b-close:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 14px;
    height: 2px;
    background-color: #000000; }
  .b-close:hover {
    opacity: .5; }

.myModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  max-width: 800px;
  margin: -250px 0 0 -355px;
  overflow: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  background-clip: padding-box; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .7;
  background-color: #ffffff; }

.card-product-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 42px 0 0; }
  .card-product-modal .card-left {
    width: 50%; }
  .card-product-modal .card-right {
    padding: 12px 0 17px 42px;
    width: 50%; }
    .card-product-modal .card-right .card-header {
      margin-bottom: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .card-product-modal .card-right h5 {
      font-weight: 400;
      font-variant: normal; }
    .card-product-modal .card-right .card-price {
      display: inline-block;
      vertical-align: top; }
    .card-product-modal .card-right .card-description {
      margin-bottom: 14px;
      padding: 0 20px 0 0;
      border-bottom: 1px solid #888888; }
      .card-product-modal .card-right .card-description p {
        margin: 0 0 10px;
        font-size: 14px; }

.card-color .color-title {
  margin: 0 0 10px; }
  .card-color .color-title p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #000000; }
    .card-color .color-title p .name-color {
      color: #888888;
      font-weight: 400; }

.card-color .product-color {
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .card-color .product-color li {
    margin: 0;
    font-size: 0;
    line-height: 0; }
    .card-color .product-color li .grey {
      margin: 0;
      width: 24px;
      height: 24px;
      background-color: #dddad5; }

.item-size-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .item-size-filter .filter-size {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }

.card-size-qty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .card-size-qty .card-size .tabs-size {
    padding: 0;
    border: none; }
    .card-size-qty .card-size .tabs-size .tabs-title {
      padding: 0;
      border: none;
      border-radius: 0;
      list-style: none;
      background-color: #ffffff; }
      .card-size-qty .card-size .tabs-size .tabs-title li {
        margin: 0 20px 0 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background: #ffffff; }
        .card-size-qty .card-size .tabs-size .tabs-title li a {
          margin: 0;
          padding: 0;
          color: #888888;
          font-size: 14px;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          text-decoration: underline;
          outline: none; }
          .card-size-qty .card-size .tabs-size .tabs-title li a:hover {
            text-decoration: none; }
      .card-size-qty .card-size .tabs-size .tabs-title .ui-tabs-active a {
        color: #000000;
        text-decoration: none; }
    .card-size-qty .card-size .tabs-size .tab-content {
      padding: 0; }
  .card-size-qty .card-qty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .card-size-qty .card-qty .qty-title {
      margin: 0 12px 0 0; }
    .card-size-qty .card-qty .qty-number {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .card-size-qty .card-qty .qty-number .qty-left,
      .card-size-qty .card-qty .qty-number .qty-right {
        fill: #000;
        width: 6px;
        height: 11px;
        cursor: pointer; }

.card-description-product {
  margin: 0; }

.card-full-description-product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .card-full-description-product .card-left {
    margin: 0 3.84615384615385% 0 0;
    width: 53.84615384615385%; }
  .card-full-description-product .card-right {
    width: 42.30769230769231%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.brand-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.card-gallery {
  margin: 0 -6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .card-gallery .card-image {
    width: 33.33%;
    padding: 0 6px;
    margin: 0 0 12px;
    font-size: 0;
    line-height: 0; }

.card-full h5 {
  font-size: 20px;
  font-weight: 400;
  font-variant: normal; }

.card-price p {
  font-size: 18px;
  font-variant: small-caps; }

.card-tabs {
  margin-bottom: 5px; }
  .card-tabs .tabs-description.ui-tabs {
    padding: 0;
    border: none; }
    .card-tabs .tabs-description.ui-tabs .ui-tabs-nav {
      margin: 0 -11px 20px;
      padding: 0;
      border-radius: 0; }
      .card-tabs .tabs-description.ui-tabs .ui-tabs-nav .ui-state-default {
        margin: 0;
        padding: 0 11px;
        border: none;
        background: #fff;
        outline: none; }
        .card-tabs .tabs-description.ui-tabs .ui-tabs-nav .ui-state-default a {
          margin: 0;
          padding: 0;
          font-size: 16px;
          font-family: 'Open Sans';
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          outline: none;
          color: #888; }
      .card-tabs .tabs-description.ui-tabs .ui-tabs-nav .ui-state-active a {
        color: #010101;
        font-weight: 600; }
    .card-tabs .tabs-description.ui-tabs .ui-widget-header {
      border: none;
      background: #fff; }
    .card-tabs .tabs-description.ui-tabs .ui-tabs-panel {
      padding: 0; }

.card-brands .card-image {
  margin: 0 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.all-brands {
  font-size: 18px;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  color: #888888; }
  .all-brands:hover {
    color: #000000; }

.pagination-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.pagination-item a {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  font-variant: normal; }
  .pagination-item a:hover {
    opacity: .5; }

.pagination-footer {
  margin-top: 3px;
  width: auto;
  height: 18px; }

.pagination-prev {
  margin-right: 10px; }

.pagination-next {
  margin-left: 10px; }

.card-mailing-pop-up {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .card-mailing-pop-up .card-left {
    width: 48.64864864864865%; }
  .card-mailing-pop-up .card-right {
    width: 51.35135135135135%;
    padding: 0 0 0 60px; }

.card-image {
  font-size: 0;
  line-height: 0; }

.card-mailing {
  padding: 50px 0 0; }
  .card-mailing .card-title {
    padding: 0 0 20px;
    margin: 0 0 20px;
    position: relative; }
    .card-mailing .card-title:after {
      content: '';
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 0;
      width: 70px;
      height: 1px;
      background-color: #888888; }
  .card-mailing .card-description {
    margin: 0 0 34px; }
  .card-mailing .card-sale {
    padding: 5px 8px;
    margin: 0 0 40px;
    display: inline-block;
    background-color: #ffdbdb; }
  .card-mailing .card-form-mailing {
    margin: 0 0 30px; }

.mailing-title {
  font-weight: 400;
  text-transform: uppercase; }

.mailing-description {
  font-size: 14px;
  font-weight: 300; }

.mailing-sale {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #888888; }

@media only screen and (max-width: 1220px) {
  .newsletter .newsletter-body .newsletter-title h4 {
    font-size: 16px; }
  .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-group {
    width: 170px;
    font-size: 16px; }
  .newsletter .newsletter-body .newsletter-form .form fieldset .form-body .form-email .form-submit {
    font-size: 16px; } }

@media only screen and (max-width: 1024px) {
  a {
    margin-bottom: 5px; }
  .navbar-toggler {
    display: inline-block;
    vertical-align: top;
    padding: 9px 10px;
    border: none;
    color: #000000; }
    .navbar-toggler .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: currentcolor; }
    .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px; }
  .navbar-collapse {
    display: none; }
  .is-show {
    position: absolute;
    display: block;
    top: 78px;
    left: 0;
    right: 0;
    z-index: 1; }
    .is-show .navbar-nav {
      margin: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff; }
      .is-show .navbar-nav li {
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center; }
        .is-show .navbar-nav li .buyer-panel li {
          padding: 10px 15px 5px; }
          .is-show .navbar-nav li .buyer-panel li .search-panel .form-search {
            position: static;
            margin-left: -65px; }
  .background-slider {
    padding: 15px 0; }
  .footer-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .footer-items .item-navbar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-items .item-navbar .item-body ul li {
        text-align: center; }
  .section-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .sidebar {
    width: 50%;
    margin: 0 0 15px; }
    .sidebar.is-show + .section-container {
      width: 77.8142589118199%; }
      .sidebar.is-show + .section-container .card-product {
        width: 50%; }
  .card-items .card-product {
    width: 50%; }
  .section-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .section-footer .section-left {
      margin-right: 0;
      width: 100%; }
    .section-footer .section-right {
      margin: 0 0 15px;
      width: 100%; } }

@media only screen and (max-width: 868px) {
  .items-mansory .item-mansory {
    width: 50%; }
  .newsletter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 22px;
    margin-bottom: 10px; }
  .item-slide .slider-body .slider-info .slider-more a {
    font-size: 16px; }
  .card {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .card .card-information {
      width: 50%; }
  .header-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-box .sidebar {
    width: 100%; }
  .section-box .section-container .section-top .header-block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .modal-form {
    width: auto;
    height: auto; }
  .card-product-modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .card-full-description-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .card-full-description-product .card-left {
      margin: 0;
      width: 90%; }
    .card-full-description-product .card-right {
      width: 90%; }
  .breadcrumbs-box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .card-full-description-product .card-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .card-full-description-product .card-body {
    margin-bottom: 15px; }
  .card-full-description-product .card-color {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .card-full-description-product .card-size-qty {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .card-full-description-product .card-size {
    margin-bottom: 15px; }
  .card-full-description-product .ui-tabs-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .card-full-description-product .button-right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .card-full-description-product .brand-right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .section-container {
    width: 100%; }
  .card-product {
    width: 45%; }
  .sidebar.is-show + .section-container {
    width: 100%; }
    .sidebar.is-show + .section-container .card-product {
      width: 50%; }
  #popup_this {
    padding: 35px 0 0;
    max-width: 400px; }
  .card-mailing-pop-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .card-mailing-pop-up .card-left,
    .card-mailing-pop-up .card-right {
      padding: 0;
      width: 90%; } }

@media only screen and (max-width: 585px) {
  .card {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .card .card-information {
      width: 100%; }
  .items-mansory .item-mansory {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

@media only screen and (max-width: 375px) {
  .card-items .card-product {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */