$brand-color: #000000;
$secondary-color: #ffffff;
$item-color: #888888;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 16px/1.313em 'Open Sans', Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

input{
    outline: none;
}

label{
    font: 16px/1.313em 'Open Sans', Arial, Helvetica, sans-serif;
    color: $item-color;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6.666666%;
}


h1{
    margin: 0 0 20px;
    color: $secondary-color;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.313em;
    font-variant: small-caps;
}

h2{
    margin: 0 0 25px;
    color: $brand-color;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.313em;
    font-variant: small-caps;
    text-transform: capitalize;
}

h3{
    color: $brand-color;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.313em;
    font-variant: small-caps;
}

h4{
    margin: 0 0 10px;
    color: #222222;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.313em;
    text-transform: uppercase;
}

h5{
    margin: 0 0 5px;
    color: $brand-color;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.313em;
    font-variant: small-caps;
}

p{
    margin: 0 0 15px;
    color: $item-color;
    font-weight: 300;
}

a{
    display: inline-flex;
    color: $brand-color;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.313em;
    text-transform: uppercase;
    font-variant: small-caps;
    text-decoration: none;
}

.capital{
    text-transform: uppercase;
}

.header-logo{
    margin-right: 15px;

    a{
        display: inline-block
    }
}

.text-bold{
    font-weight: 600;
}

.background-slider{
    padding: 30px 0;

    background: url("../images/secondary-slider-image.jpg") no-repeat;
    background-size: cover;
}

.hide-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .panel-left{
        margin-bottom: 10px;

        .hide-filter{
                            
            .hide-block{
                font-size: 16px;
                font-weight: 400;
                text-transform: none;
                font-variant: normal;
                cursor: pointer;

                .hide-arrow{
                    margin-top: 4px;
                    margin-right: 3px;
                    width: 6px;
                    height: 12px;
                    fill: $brand-color;
                }

                &:hover{
                    opacity: .75;
                }

                &.is-active{
                    display: none;
                }

                &.is-active{
                    display: block;
                }
            }
        }
    }
}

.quantity-products{

    p{
        color: $brand-color;
        font-weight: 700;
    }
}

.header-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .pagination-block,
    .breadcrumbs-block{
        margin: 0 10px 10px;
    }
}

.pagination-block{

    .pagination{

        a{
            margin-bottom: 0;
            vertical-align: middle;

            .pagination-prev,
            .pagination-next{
                width: 6px;
                height: 24px;
            }
        }

        .page-numbers{
            vertical-align: middle;
        }
    }
}

.breadcrumbs{
    margin: 0 -5px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li{
        padding: 0 5px;

        &:before{
            content:'/';
        }

        &:first-child:before{
            content:'';
        }

        a{
            font-size: 16px;
            font-weight: 400;
            text-transform: none;
            font-variant: normal;

            &:hover{
                opacity: .5;
            }
        }

        &.active{

            a{
                font-weight: 700;
            }
        }
    }
}

.breadcrumbs-box{
    li:before{
        margin-right: 5px;
    }

    li:first-child:before{
        margin-right: 0;
    }
}

.sorting{
    position: relative;

    .sort-collapse{
        margin-right: 15px;
        margin-bottom: 0;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
        font-variant: normal;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            top: 30%;
            right: -12px;
            width: 12px;
            height: 6px;
            background: url("../images/svg/arrow-down.svg") no-repeat;
        }
    }

    .sorting-list{
        margin: 0;
        padding: 10px;
        list-style: none;
        max-width: 100%;
        display: none;
        background-color: $secondary-color;
        text-align: center;

        &.is-show{
            position: absolute;
            display: block;
            top: 25px;
            left: 0;
            right: 0;
            z-index: 1;
        }

        li{
            margin: 5px 0;
            display: inline-block;

            a{
                margin: 0;
                font-size: 16px;
                font-weight: 400;
                text-transform: none;
                font-variant: normal;
                text-decoration: underline;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.sidebar{
    margin-right: 4.8780487804878%;
    width: 17.3076923076923%;

    &.is-show{
        display: none;
    }

    &.is-show + .section-container{
        width: 100%;

        .card-product{
            width: 25%;
        }
    }
}

.footer-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}