$brand-color: #000000;
$secondary-color: #ffffff;
$item-color: #888888;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 16px/1.313em 'Open Sans', Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container::after,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6.666666%;
}


h1{
    margin: 0 0 20px;
    color: $secondary-color;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.313em;
    font-variant: small-caps;
}

h2{
    color: $brand-color;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.313em;
    font-variant: small-caps;
}

h3{    
    color: $brand-color;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.313em;
    font-variant: small-caps;
}

h4{
    color: #222222;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.313em;
    text-transform: uppercase;
}

h5{
    color: $brand-color;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.313em;
    font-variant: small-caps;
}

p{
    color: $item-color;
    font-weight: 300;
}

a{
    margin-bottom: 15px;
    display: inline-flex;
    color: $brand-color;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.313em;
    text-transform: uppercase;
    font-variant: small-caps;
    text-decoration: none;
}

.header-logo{
    margin-right: 15px;

    a{
        display: inline-block
    }
}

.text-bold{
    font-weight: 600;
}