.button{

	a{
		padding: 15px 55px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		font-variant: small-caps;

		background-color: $brand-color;
		color: $secondary-color;

		&:hover{
			opacity: .5;
		}
	}

	&.button-small{

		a{
			padding: 11px 10px;
		}
	}

	&.button-large{
		text-align: center;

		a{
			margin: 0;
			padding: 14px;
			display: inline-block;
			width: 100%;
		}
	}
}

.button-right{
	display: flex;
	justify-content: flex-end;
}