.card-product-modal{
	display: flex;
	flex-wrap: wrap;

	.card-left{
		width: 50%;

		.modal-slider{

			.modal-slide{


				.slide-image{
					max-width: 100%;

					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}

	.card-right{
		width: 50%;
	}
}