.ac-container{
	margin: 8px 0;

	button.accordion {
	    background-color: #fff;
	    position: relative;
	    color: #000;
	    cursor: pointer;
	    padding: 12px 0;
	    width: 100%;
	    border: none;
	    text-align: left;
	    outline: none;
	    font-size: 18px;
	    font-weight: 400;
	    transition: 0.4s;

	    &:after{
	    	content: '';
	    	position: absolute;
	    	top: 50%;
	    	right: 0;
	    	background: url("../images/svg/arrow-down.svg") no-repeat;
	    	width: 12px;
	    	height: 6px;
	    	transition: 0.2s;
	    }

	    &.active:after{
	    	content: '';
	    	position: absolute;
	    	top: 50%;
	    	right: 0;
	    	background: url("../images/svg/arrow-up.svg") no-repeat;
	    	width: 12px;
	    	height: 6px;
	    	transition: 0.2s;
	    }

	    &:hover{
			opacity: .5;
	    }
	}

	div.panel {
	    background-color: $secondary-color;
	    max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.2s ease-out;
		border-bottom: 1px solid $item-color;

		.ac-body{
			padding: 0 0 10px;
		}
	}
}

.form-scroller{
	padding: 10px 0;
	height: 305px;
	overflow: auto;
	border-top: 1px solid $item-color;

		.form-item{
			position: relative;

			.form-checkbox{

			&:not(cheked){
				position: absolute;
				opacity: 0;	

				+ .form-control{
					padding-left: 20px;
					position: relative;

					&:hover{
						opacity: .75;
					}

					&:after{
						content: '';
						width: 12px;
						height: 12px;
						position: absolute;
						top: 4px;
						left: 0;
						opacity: 0;
						transition: all 0.2s ease 0s;
						background-image: url("../images/svg/cross.svg")
					}
				}							
			}

			&:checked + .form-control{
				color: $brand-color;

				&:after{
					opacity: 1;
				}
			}
		}

		.form-control{
			color: $item-color;
			font-weight: 400;
			cursor: pointer;
		}
	}
}

.form-price{

	.price-header{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		span{
			color: $brand-color;
		}
	}

	.price-body{
		margin-bottom: 15px;

		.price-range{
			display: flex;
			flex-direction: row;
			justify-content: center;

			.range-slider{
				width: 90%;

				.ui-widget-header{
					background-color: $item-color;
				}
			}
		}
	}

	.price-footer{
		display: flex;
		flex-direction: row;

		.price-group{
			padding: 0 2.5%;
			max-width: 45%;

			.price-txt{
				width: 100%;
				font-size: 16px;
				padding: 5px;
				font-family: 'Open Sans', Arial, Helvetica, sans-serif;
				color: $brand-color;
				font-weight: 600;
			}
		}
	}
}

.filter-size{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 10px 0;
	margin: 0;
	list-style: none;

	li{
		margin: 0 15px 10px 0;
		position: relative;
		width: 24px;
		text-align: center;

		a{
			margin-bottom: 3px;
			vertical-align: middle;
			font-size: 14px;
			font-weight: 400;
			color: $item-color;
			font-variant: normal;

			&:hover{
				color: #010101;
			}
		}

		&.active{
			height: 24px;
			border: 1px solid $brand-color;
			border-radius: 12px;

			a{
				color: $brand-color;
			}
		}
	}
}
