.form-body{
	max-width: 100%;

	.search-group{
		max-width: 100%;
		padding: 5px 10px;
		border-radius: 5px;
		color: $item-color;
		font-size: 16px;
	}
}

.form-conclusion{
	margin: 0 10px;
	width: 20px;
	text-align: center;
	border: none;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Open Sans';
}

.newsletter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;

	.newsletter-body{

		.newsletter-form{

			.form{

				fieldset{
					padding: 0;
					border: none;

					.form-body{

						.form-email{ 
							display: flex;
							flex-direction: row;
							justify-content: flex-start;

							.form-group{
								padding: 0 15px 5px 0;
								width: 255px;
								border: none;
								border-bottom: 1px solid $brand-color;
								color: $item-color;
								font-family: "Open Sans Light";
								font-size: 21px;
								font-weight: 300;
								font-style: italic;
							}

							.form-submit{
								padding: 0;
								color: $brand-color;
								font-size: 21px;
								font-weight: 700;
								background-color: $secondary-color;
								cursor: pointer;
								border: none;
								border-bottom: 1px solid $brand-color;

								&:hover{
									opacity: .75;
								}
							}
						}
					}
				}
			}
		}
	}
}

.form-mailing{
	display: flex;
	justify-content: center;

	.form-group{
	width: 78.26086956521739%;		
	}

	.form-group-button{
		width: 21.73913043478261%;
		height: 32px;	
	}
}

.form-email{
	padding: 5px;
	height: 32px;
	width: 100%;
	border: 1px solid $item-color;
	border-right: none;
	font-size: 14px;
	font-weight: 400;
	color: $item-color;
	text-transform: uppercase;
}