@media only screen and (max-width: 1220px){
	.newsletter{

		.newsletter-body{

			.newsletter-title{

				h4{
					font-size: 16px;
				}
			}
			
			.newsletter-form{

				.form{

					fieldset{

						.form-body{

							.form-email{
								.form-group{
									width: 170px;
									font-size: 16px;
								}

								.form-submit{
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px){
	a{
		margin-bottom: 5px;
	}

	.navbar-toggler {
	  display: inline-block;
	  vertical-align: top;
	  padding: 9px 10px;
	  border: none;
	  color: $brand-color;

		.icon-bar {
		  display: block;
		  width: 22px;
		  height: 2px;
		  border-radius: 1px;
		  background-color: currentcolor;
		}

		.icon-bar+.icon-bar {
		  margin-top: 4px;
		}
	}

	.navbar-collapse {
	  display: none;
	}

	.is-show {
		position: absolute;
		display: block;
		top: 78px;
		left: 0;
		right: 0;
		z-index: 1;

	  .navbar-nav{
	  	margin: 0;
	  	flex-direction: column;
	  	width: 100%;
	  	background-color: $secondary-color;

	  	li{
	  		padding-top: 10px;
	  		padding-bottom: 5px;
	  		text-align: center;

	  		.buyer-panel{

	  			li{
	  				padding: 10px 15px 5px;

	  				.search-panel{

						.form-search{
							position: static;
							margin-left: -65px;
						}
					}
	  			}
	  		}
	  	}
	  }
	}
	
	.background-slider{
    	padding: 15px 0;
	}

	.footer-items{
		flex-direction: column;
		justify-content: center;

		.item-navbar{
			display: flex;
			flex-direction: column;
			align-items: center;

			.item-body{

				ul{

					li{
						text-align: center;
					}
				}
			}
		}
	}

	.section-box{
		flex-direction: column;
		align-items: center;

		.sidebar{
			width: 50%;
			margin: 0 0 15px;
		}
	}

	.card-items{
		.card-product{
			width: 50%;
		}
	}
}

@media only screen and (max-width: 868px){
	.items-mansory{

		.item-mansory{
			width: 50%
		}
	}

	.newsletter{
		justify-content: center;
	}
}

@media only screen and (max-width: 768px){
	h1{
		font-size: 22px;
		margin-bottom: 10px;
	}

	.item-slide{

		.slider-body{

			.slider-info{

				.slider-more{

					a{
						font-size: 16px;
					}
				}
			}
		}
	}

	.card{
		justify-content: center;

		.card-information{
			width: 50%;
		}
	}

	.section-box{

		.sidebar{
			width: 100%;
		}

		.section-container{
			.section-top{
				.header-block{
					justify-content: center;
				}
			}
		}
	}

	.card-items{
		.card-product{
			width: 80%;
		}
	}

	.modal-form{
		width: auto;
		height: auto;
	}

	.card-product-modal{
		flex-direction: column;
		align-items: center;
	}

	.card-full-description-product{
		flex-direction: column;
		align-items: center;

		.card-left{
			margin: 0;
			width: 90%;
		}

		.card-right{
			width: 90%;
		}
	}

	.breadcrumbs-box{
		justify-content: center;
	}

	.card-full-description-product{
		.card-header{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.card-body{
			margin-bottom: 15px;
		}

		.card-color{
			margin-bottom: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.card-size-qty{
			flex-direction: column;
			align-items: center;
		}

		.card-size{
			margin-bottom: 15px;
		}

		.ui-tabs-nav{
			display: flex;
			justify-content: center;
		}

		.button-right{
			justify-content: center;
		}

		.brand-right{
			justify-content: center;
		}
	}
}

@media only screen and (max-width: 585px){

	.card{
		justify-content: center;

		.card-information{
			width: 100%;
		}
	}

	.items-mansory{

		.item-mansory{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}