#popup_this {
    top: 50%;
    left: 50%;
    max-width: 800px;
    text-align:center;
    position: fixed;
    background: #fff;
    padding: 0 60px 0 0;
}
.b-close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    width: 12px;
    height: 12px;

    &:before{
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        transform: rotate(45deg);
        width: 14px;
        height: 2px;
        background-color: $brand-color;
    }

    &:after{
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        transform: rotate(135deg);
        width: 14px;
        height: 2px;
        background-color: $brand-color;
    }

    &:hover{
        opacity: .5;
    }
}