.header-box{
	position: relative;
	padding: 28px 0 13px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.section-week{
	padding-top: 20px;
}

.section-visual{
	padding: 48px 0 43px;
}

.footer-items{
	margin: 0 -20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	.item-navbar{
		padding: 0 20px 20px;

		.item-title{
			margin-bottom: 20px;
		}

		.item-body{

			ul{
				margin: 0;
				padding: 0;
				list-style: none;

				li{

					a{
						font-weight: 400;
						color: $item-color;
						text-transform: capitalize;

						&:hover{
							opacity: .75;
						}
					}
				}
			}

			.social-items{
				margin: 0 -16px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				li{
					padding: 0 16px;

					a{

						.social-item{
							height: 18px;
							fill: $item-color;
						}
					}
				}
			}
		}
	}
}

.section{
	.section-description{
		p{
			font-size: 20px;
			line-height: 1.5em;
			color: $brand-color;
		}
	}
}


.section-box{
	padding: 23px 0 48px;
	display: flex;


	.sidebar{
		margin-right: 4.8780487804878%;
		width: 17.3076923076923%;
		
		.sidebar-body{

			.section-header{

				.hide-panel{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					flex-wrap: wrap;

					.panel-left{
						margin-bottom: 10px;

						.hide-filter{
							
							.hide-block{
								font-size: 16px;
								font-weight: 400;
								text-transform: none;
								font-variant: normal;
								cursor: pointer;

								.hide-arrow{
									margin-top: 4px;
									margin-right: 3px;
									width: 6px;
									height: 12px;
									fill: $brand-color;
								}

							    &:hover{
							        opacity: .75;
							    }
							}

							.show-block{
								display: none;
								font-size: 16px;
								font-weight: 400;
								text-transform: none;
								font-variant: normal;
								cursor: pointer;

								.show-arrow{
									margin-top: 4px;
									margin-right: 3px;
									width: 6px;
									height: 12px;
									fill: $brand-color;
								}

							    &:hover{
						        opacity: .75;
							    }
							}
						}

					}

					.panel-right{

						.quantity-products{

							p{
								color: $brand-color;
								font-weight: 700;
							}
						}
					}
				}
			}
		}
	}

	.section-container{
		width: 77.8142589118199%;

		.section-top{
			margin-bottom: 5px;

			.header-block{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;

				.pagination-block,
				.breadcrumbs-block{
					margin: 0 15px 10px;
				}
			}
		}

		.section-body{
			padding-top: 10px;
		}
	}
}

.section-top{

	.breadcrumbs-box{
		display: flex;
	}
}

.section-product{
	.section-body{
		margin-bottom: 33px;
	}

	.section-bottom{
		margin-bottom: 45px;
	}
}